@model ReAl.Lumino.Encuestas.Models.OpeUpms

@section Styles
{
	<!-- Bootstrap-Table CSS -->
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">
    
}	

@{
    ViewData["Title"] = "Details";
}

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">OpeUpms</h1>
	</div>
</div><!--/.row-->

<div class="row">
<div class="col-lg-12">
<div class="panel panel-default">
<div class="panel-heading">Details</div>
    <div class="panel-body">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-10">
                    <a title="Volver al listado" class="btn btn-primary" asp-action="Index"><i class="fa fa-arrow-left"></i></a>
                    <a title="Editar registro" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Idoup"><i class="fa fa-edit"></i></a>                                
                </div>
            </div>    
        </div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Codigo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Codigo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Fecinicio)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Fecinicio)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Latitud)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Latitud)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Longitud)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Longitud)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Apiestado)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Apiestado)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Apitransaccion)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Apitransaccion)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Usucre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Usucre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Feccre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Feccre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Usumod)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Usumod)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Fecmod)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Fecmod)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IdcdeNavigation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IdcdeNavigation.Apiestado)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IdopyNavigation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IdopyNavigation.Apiestado)
            </dd>
        </dl>
    </div>
    <div id="googleMap" style="height:400px;width:100%;"></div> 
    <script>  
        function myMap() {  
            var myCenter = new google.maps.LatLng(20.296100, 85.824500);  
            var mapProp = { center: myCenter, zoom: 12, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };  
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);  
            var marker = new google.maps.Marker({ position: myCenter });  
            marker.setMap(map);  
        }  
    </script> 
</div>
</div>
</div><!-- /.row -->


@section Scripts
{
	<!-- Sweetalert JavaScript -->
    <script src="~/lib/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADNtvO30brVx6wl77w5EXiQNppz3uurW8"></script> 
}	

