@model ReAl.Lumino.Encuestas.Models.OpeUpms

@section Styles
{
	<!-- Sweetalert CSS -->
	<link href="~/lib/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
}	

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">OpeUpms</h1>
	</div>
</div><!--/.row-->

<div class="row">
<div class="col-lg-12">
<div class="panel panel-default">
<div class="panel-heading">Edit</div>
<div class="panel-body">	
    <div class="col-md-6">
        <form asp-action="Edit" role="form" method="post" id="EditForm" class="form-horizontal row-border">
            <div class="form-group">
				<a title="Volver al listado" class="btn btn-primary" asp-action="Index" ><i class="fa fa-arrow-left"></i></a>
				<a title="Guardar cambios" class="btn btn-primary" onclick="Validate(this, event);"><i class="fa fa-save"></i></a>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idoup" />
            <div class="form-group">
                <label asp-for="Idopy"></label>
				<select asp-for="Idopy" class="form-control selectpicker" data-live-search="true" asp-items="ViewBag.Idopy"></select>
				<span asp-validation-for="Idopy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idcde"></label>
				<select asp-for="Idcde" class="form-control selectpicker" data-live-search="true" asp-items="ViewBag.Idcde"></select>
				<span asp-validation-for="Idcde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Codigo"></label>
				<input asp-for="Codigo" class="form-control" />
				<span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" ></label>
				<input asp-for="Nombre" class="form-control" />
				<span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecinicio"></label>
				<input asp-for="Fecinicio" class="form-control" />
				<span asp-validation-for="Fecinicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitud"></label>
				<input asp-for="Latitud" class="form-control" readonly="readonly" asp-is-invariant="true"/>
				<span asp-validation-for="Latitud" class="text-danger"></span>
            </div>
	        <div class="form-group">
		        <label asp-for="Longitud"></label>
				<input asp-for="Longitud" class="form-control" readonly="readonly" asp-is-invariant="true"/>
				<span asp-validation-for="Longitud" class="text-danger"></span>
	        </div>
	        <div class="form-group">
		        <label>Mapa</label>
		        <div id="myMap" style="width: 100%; height: 500px;"></div>
	        </div>
				<input asp-for="Apiestado" class="form-control" type="hidden" />
				<input asp-for="Apitransaccion" class="form-control" type="hidden" />
				<input asp-for="Usucre" class="form-control" type="hidden" />
				<input asp-for="Feccre" class="form-control" type="hidden" />
				<input asp-for="Usumod" class="form-control" type="hidden" />
				<input asp-for="Fecmod" class="form-control" type="hidden" />
        </form>
    </div>
</div>

</div>
</div>
</div><!-- /.row -->


@section Scripts
{
	<!-- Sweetalert JavaScript -->
	<script src="~/lib/sweetalert2/dist/sweetalert2.min.js"></script>

	<script>
		function Validate(ctl, event) {
			event.preventDefault();
			swal({
				title: "¿Seguro que desea guardar los cambios del registro?",
				text: "Verifique la información antes de aceptar!",
				type: "question",
				showCancelButton: true,
				confirmButtonColor: "#DD6B55",
				confirmButtonText: "Actualizar",
				cancelButtonText: "Cancelar"
			}).then(function(isConfirm) {
				if (isConfirm.value) {
					$("#EditForm").submit();
				} else {
					swal("Cancelled", "Se ha cancelado la accion", "error");
				}
			});
		}

		function loadMapScenario() {
			var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {});
			map.setOptions({
				maxZoom: 16,
				minZoom: 1
			});
			map.setView({
				zoom: 14
			});

			var Events = Microsoft.Maps.Events;
			var Location = Microsoft.Maps.Location;
			var Pushpin = Microsoft.Maps.Pushpin;
			var pins = [
				new Pushpin(new Location(@Model.Latitud, @Model.Longitud),
					{
						color: '#f00',
						icon: 'https://www.bingmapsportal.com/Content/images/poi_custom.png',
						draggable: true
					})
			];
			document.getElementById("Latitud").value = String(pins[0].getLocation().latitude);
			document.getElementById("Longitud").value = String(pins[0].getLocation().longitude);

			map.entities.push(pins);
			// Binding the events for the green pin
			Events.addHandler(pins[0], 'dragend', function() { highlight('pushpinDragEnd'); });
			Events.addHandler(map, 'click', displayLatLong);

			// Setting up the printout panel
			function highlight(id) {
				if (id == "pushpinDragEnd") {
					//alert(String(pins[0].getLocation().latitude));
					document.getElementById("Latitud").value = String(pins[0].getLocation().latitude);
					document.getElementById("Longitud").value = String(pins[0].getLocation().longitude);
				}
			}

			function displayLatLong(e) {
				if (e.targetType == "map") {
					var point = new Microsoft.Maps.Point(e.getX(), e.getY());
					var loc = e.target.tryPixelToLocation(point);
					//alert( loc.latitude + ", " + loc.longitude);

					map.entities.clear(pins);
					pins = [
						new Pushpin(new Location(loc.latitude, loc.longitude),
							{
								color: '#f00',
								icon: 'https://www.bingmapsportal.com/Content/images/poi_custom.png',
								draggable: true
							})
					];
					document.getElementById("Latitud").value = String(pins[0].getLocation().latitude);
					document.getElementById("Longitud").value = String(pins[0].getLocation().longitude);

					map.entities.push(pins);
				}
			}
		}
	</script>
	<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AlMxkuos4CFCEzUWMG1SiE9HDubOEjlDTVQRkOZN8A9hHwYkCXznOtKQiy75mbcc&callback=loadMapScenario&setlang=es-es' async defer></script>
}	

