@model ReAl.Lumino.Encuestas.Models.SegUsuarios

@section Styles
{
	<!-- Sweetalert CSS -->
	<link href="~/lib/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
}	

@{
    ViewData["Title"] = "Create";
}

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">SegUsuarios</h1>
	</div>
</div><!--/.row-->

<div class="row">
<div class="col-lg-12">
<div class="panel panel-default">
<div class="panel-heading">Create</div>
<div class="panel-body">                             
    <div class="col-md-6">
        <form asp-action="Create" role="form" method="post" id="CreateForm">
            <div class="form-group">
                <a title="Volver al listado" class="btn btn-primary" asp-action="Index" ><i class="fa fa-arrow-left"></i></a>
                <a title="Guardar" class="btn btn-primary" onclick="Validate(this, event);"><i class="fa fa-save"></i></a>
            </div>                                                                                                           
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Login"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombres"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos"></label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idcde"></label>
                <select asp-for="Idcde" class="form-control selectpicker" asp-items="ViewBag.Idcde"
                        data-live-search="true" data-select-on-tab="true" data-size="5"
                        data-none-selected-text="No existen elementos"></select>
            </div>
            <div class="form-group">
                <label asp-for="Idobr"></label>
                <select asp-for="Idobr" class="form-control selectpicker" asp-items="ViewBag.Idobr"
                        data-live-search="true" data-select-on-tab="true" data-size="5"
                        data-none-selected-text="No existen elementos"></select>
            </div>
	        <div class="form-group">
		        <label asp-for="Tablet"></label>
		        <input asp-for="Tablet" class="form-control" />
		        <span asp-validation-for="Tablet" class="text-danger"></span>
	        </div>
	        <input asp-for="Vigente" class="form-control" type="hidden" value="1" />
            <input asp-for="Apiestado" class="form-control" type="hidden" value="ELABORADO" />	    
            <input asp-for="Apitransaccion" class="form-control" type="hidden" value="CREAR" />
            <input asp-for="Usucre" class="form-control" type="hidden" value="--" />            
        </form>
    </div>
</div>

</div>
</div>
</div><!-- /.row -->



@section Scripts
{
	<!-- Sweetalert JavaScript -->
	<script src="~/lib/sweetalert2/dist/sweetalert2.min.js"></script>
	
	<script>
		function Validate(ctl, event)
		{
			event.preventDefault();
			swal({
				title: "¿Seguro que desea guardar el registro?",
				text: "Verifique la información antes de aceptar!",
				type: "question",
				showCancelButton: true,
				confirmButtonColor: "#DD6B55",
				confirmButtonText: "Crear",
				cancelButtonText: "Cancelar"
			}).then(function(isConfirm) {
				if (isConfirm.value) {
					$("#CreateForm").submit();
				} else {
					swal("Cancelled", "Se ha cancelado la accion", "error");
				}
			});
		}
	</script>
}	

