@model IEnumerable<ReAl.Lumino.Encuestas.Models.OpeBrigadas>

<table id="miTabla" data-toggle="table" data-show-columns="true" data-pagination="true"
	   data-search="true" data-show-toggle="true" 
	   data-locale="es-AR" data-advanced-search="true" data-id-table="advancedTable"
	   data-page-size="25" data-pagination-v-align="both" data-show-export="true">
	<thead>
		<tr>
			<th data-sortable="true" data-halign="center" data-field="IdcdeNavigation" data-valign="middle">
				@Html.DisplayNameFor(model => model.IdcdeNavigation)
			</th>
			<th data-sortable="true" data-halign="center" data-field="Codigo" data-valign="middle">
				@Html.DisplayNameFor(model => model.Codigo)
			</th>						
			<th data-searchable="false" data-halign="center" data-align="center" data-valign="middle">Acciones</th>
		</tr>
	</thead>
	<tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.IdcdeNavigation.Nombre)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Codigo)
			</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.Idobr" title="Editar" class="btn btn-primary"><i class="fa fa-edit"></i></a> 
				<a asp-action="Details" asp-route-id="@item.Idobr" title="Ver detalles" class="btn btn-warning"><i class="fa fa-indent"></i></a>
				<a asp-action="Delete" asp-route-id="@item.Idobr" title="Eliminar" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
				<button type="button" class="btn btn-default" data-container="body"
						data-toggle="popover" data-trigger="click" ToolTip="Auditoria del registro"
						data-placement="left" data-html="true" title="Auditoria"
						data-content='<b>Usuario Creacion:</b> @item.Usucre <br />
									  <b>Fecha Creacion:</b> @item.Feccre <br />
									  <b>Usuario Modificacion:</b> @item.Usumod <br />
									  <b>Fecha Modificacion:</b> @item.Fecmod <br />
									  <b>Estado:</b> @item.Apiestado '>
					<i class='fa fa-search-plus'></i>
				</button>
			</td>
		</tr>
}
	</tbody>
</table>