@model ReAl.Lumino.Encuestas.Models.CatTiposPregunta

@section Styles
{
	<!-- Sweetalert CSS -->
	<link href="~/lib/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
}	

@{
    ViewData["Title"] = "Create";
}

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">CatTiposPregunta</h1>
	</div>
</div><!--/.row-->

<div class="row">
<div class="col-lg-12">
<div class="panel panel-default">
<div class="panel-heading">Create</div>
<div class="panel-body">                             
    <div class="col-md-6">
        <form asp-action="Create" role="form" method="post" id="CreateForm">
            <div class="form-group">
                <a title="Volver al listado" class="btn btn-primary" asp-action="Index" ><i class="fa fa-arrow-left"></i></a>
                <a title="Guardar" class="btn btn-primary" onclick="Validate(this, event);"><i class="fa fa-save"></i></a>
            </div>                                                                                                           
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TipoPregunta"></label>
                <input asp-for="TipoPregunta" class="form-control" />
                <span asp-validation-for="TipoPregunta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RespuestaValor"></label>
	            <select asp-for="RespuestaValor" class="form-control selectpicker"
	                    data-live-search="true" data-select-on-tab="true" data-size="5"
	                    data-none-selected-text="No existen elementos">
		            <option value="RESPUESTA">Respuesta</option>
		            <option value="CODIGO">C&oacute;digo</option>
	            </select>
                <span asp-validation-for="RespuestaValor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExportarCodigo"></label>	            
	            <select asp-for="ExportarCodigo" class="form-control selectpicker"
	                    data-live-search="true" data-select-on-tab="true" data-size="5"
	                    data-none-selected-text="No existen elementos">
		            <option value="0">No</option>
		            <option value="1">Si</option>
	            </select>
                <span asp-validation-for="ExportarCodigo" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

</div>
</div>
</div><!-- /.row -->



@section Scripts
{
	<!-- Sweetalert JavaScript -->
	<script src="~/lib/sweetalert2/dist/sweetalert2.min.js"></script>
	
	<script>
		function Validate(ctl, event)
		{
			event.preventDefault();
			swal({
				title: "¿Seguro que desea guardar el registro?",
				text: "Verifique la información antes de aceptar!",
				type: "question",
				showCancelButton: true,
				confirmButtonColor: "#DD6B55",
				confirmButtonText: "Crear",
				cancelButtonText: "Cancelar"
			}).then(function(isConfirm) {
				if (isConfirm.value) {
					$("#CreateForm").submit();
				} else {
					swal("Cancelled", "Se ha cancelado la accion", "error");
				}
			});
		}
	</script>
}	

