
@if (ViewBag.dtReporte != null)
{
	<table id="miTabla" data-toggle="table" data-show-columns="true" data-pagination="true"
	       data-search="true" data-show-toggle="true" 
	       data-locale="es-AR" data-advanced-search="true" data-id-table="advancedTable"	       
	       data-page-size="25" data-pagination-v-align="both" data-show-export="true">
		<thead>
		<tr>  
			@foreach (var headerValue in ViewBag.dtReporte.Columns)  
			{  
				<th data-sortable="true" data-halign="center" data-valign="middle"
				    data-field="@headerValue" col_name="@headerValue">
					@headerValue
				</th>  
			}  
		</tr> 
		</thead>
		<tbody>
		@for (int i = 0; i < ViewBag.dtReporte.Rows.Count; i++)  
		{  
			<tr>  
				@foreach (var cellValue in ViewBag.dtReporte.Rows[i].ItemArray)  
				{  
					<td>@cellValue</td>  
				}  
			</tr>  
		}
		</tbody>
	</table>	
}