@using System.Data
@using ReAl.Lumino.Encuestas.Models
@model IEnumerable<ReAl.Lumino.Encuestas.Models.SegAplicaciones>


@section Styles
{
	<!-- Bootstrap-Table CSS -->
	<link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">
	<!-- Sweetalert CSS -->
	<link href="~/lib/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
}	

@{
    ViewData["Title"] = "Index";
}

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Saltos</h1>
	</div>
</div><!--/.row-->


<div class="row">
<div class="col-lg-12">
<div class="panel panel-default">
<div class="panel-heading">Index</div>
	<div class="panel-body">
		<div class="col-md-6">
			<div class="form-group">
				<a id="view" title="Ver Reporte" class="btn btn-default">
					<i class="fa fa-print"></i>
				</a>
				<a id="download" title="Descargar XLS" class="btn btn-primary">
					<i class="fa fa-print"></i>
				</a>
				<a id="downloadspss" title="Descargar SAV" class="btn btn-danger">
					<i class="fa fa-print"></i>
				</a>
			</div>
			<div class="form-group">
				<label>Reporte</label>
				<select id="ddlReporte" class="form-control selectpicker" data-size="5"
				        data-live-search="true" data-select-on-tab="true"
				        data-none-selected-text="No existen elementos">
					@foreach (OpeReportes rep in (IEnumerable<OpeReportes>) ViewData["Idore"])
					{
						<option value="@rep.Vista">@rep.Nombre</option>
					}
				</select>
			</div>
		</div>	
		<div class="col-md-12">
			<div id="partialDiv">
				@Html.Partial("_IndexPartial")
			</div>
		</div>	
	</div>
</div>
</div>
</div><!-- /.row -->

@section Scripts
{
	<!-- Bootstrap-Table -->
	<script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
	<!-- Sweetalert JavaScript -->
	<script src="~/lib/sweetalert2/dist/sweetalert2.min.js"></script>
	
	<script>
		$('#download').click(function() {
			var baseUrl = '@Url.Action("Download", "Reportes")';
			location.href = baseUrl + '/' + $('#ddlReporte').val();
		});
		
		$('#downloadspss').click(function() {
			var baseUrl = '@Url.Action("DownloadSpss", "Reportes")';
			location.href = baseUrl + '/' + $('#ddlReporte').val();
		});
		
		$(document).ready(function()  
		{  
			$('#view').on("click", function() {				
				$.ajax(  
					{  
						url: '/Reportes/GetReport/'+ $('#ddlReporte').val(),  
						type: 'GET',  
						data: "",  
						contentType: 'application/json; charset=utf-8',  
						success: function(data)  
						{  
							
							$("#partialDiv").html(data);
							$('#miTabla').bootstrapTable();
							$('[data-toggle="popover"]').popover();
						},  
						error: function()  
						{  
							alert("error");  
						}  
					});  
			});  
		});
	</script>
}	


